.historia-bg {
  background-color: #f7f7f7;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 4px 4px 10px black;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.tittle {
  max-width: 1200px;
  margin-left: 40px;
  color: #747474;
  text-shadow: 1px 1px 2px black;
}

.historia {
  padding: 40px;
  color: #111;
  animation: historia 0.8s forwards;
}

@keyframes historia {
  from {
    filter: blur(12px);
  }
  to {
    filter: blur(0px);
  }
}

.historia-text {
  max-width: 150ch;
  padding: 40px;
  text-align: justify;
}

.historia-text span {
  visibility: hidden;
}

@media (max-width: 1000px) {
  .historia-text {
    max-width: 120ch;
  }
}

@media (max-width: 800px) {
  .historia-text {
    max-width: 100ch;
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .tittle {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  .historia-text {
    padding: 20px 10px 10px 10px;
    word-spacing: 5px;
  }
}
