.botao {
  padding: 12px 8px;
}

.whatsapp {
  position: fixed;
  bottom: 60px;
  left: 80px;
  width: 60px;
}

.whatsapp img {
  border-radius: 50%;
  transition: 0.5s;
}

.whatsapp:hover img {
  border-radius: 0%;
}

@media (max-width: 600px) {
  .whatsapp {
    width: 50px;
    left: 20px;
    bottom: 70px;
  }
  .whatsapp:hover img {
    border-radius: 50%;
  }
}
