.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 60px;
  gap: 150px;
  background-color: #f7f7f7;
  align-items: center;
}

.footer-logo {
  margin-left: 20px;
}

.footer-logo img {
  width: 300px;
  border-radius: 10px;
}

.institucional {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 164px;
}

.institucional ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
}

.institucional li {
  transition: 0.3s;
}

.institucional li:hover {
  transform: scale(1.015);
  color: black;
  text-shadow: 0.2px 0.2px 0.5px #f8e21c;
}

.pix {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 164px;
}

.pix ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
}

.caixa h2 {
  text-align: center;
}

.caixa img {
  width: 150px;
}

.contatos {
  display: grid;
  margin-right: 20px;
  height: 164px;
}

.contatos a {
  transition: 0.3s;
}

.contatos a:hover {
  color: black;
  transform: scale(1.015);
  text-shadow: 0.2px 0.2px 0.5px #f8e21c;
}

.artur {
  display: grid;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 40px;
}

.artur a {
  padding: 10px;
}

.artur img {
  margin: 0 auto;
  border-radius: 10px;
  width: 140px;
}
