.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 40px 60px;
  gap: 150px;
  background-color: #f7f7f7;
  align-items: center;
}

.footer-logo {
  margin-left: 20px;
}

.footer-logo img {
  display: block;
  width: 300px;
  border-radius: 10px;
}

.institucional {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 164px;
}

.institucional ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
}

.institucional li {
  transition: 0.3s;
}

.institucional li:hover {
  transform: scale(1.015);
  color: black;
  text-shadow: 0.2px 0.2px 0.5px #f8e21c;
}

.pix {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 164px;
}

.pix ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
}

.caixa {
  justify-self: center;
}

.caixa h2 {
  text-align: center;
}

.caixa img {
  display: block;
  width: 150px;
}

.contatos {
  display: grid;
  margin-right: 20px;
  height: 164px;
}

.contatos a {
  transition: 0.3s;
}

.contatos a:hover {
  color: black;
  transform: scale(1.015);
  text-shadow: 0.2px 0.2px 0.5px #f8e21c;
}

.artur {
  display: grid;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 40px;
}

.artur a {
  padding: 10px;
}

.artur img {
  margin: 0 auto;
  border-radius: 10px;
  width: 140px;
}

@media (max-width: 1400px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
  .footer-logo {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .artur {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
