.titulo-bg {
  background-color: #111;
  color: #fff;
  padding: 40px;
}

.titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contato-bg {
  background-color: #111;
  padding: 40px 0px 80px 0px;
}

.teste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
}

.resposta {
  color: #b2b2b2;
}

.contato {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #000;
  color: #ccc;
  border-radius: 4px 0px 0px 4px;
}

i {
  color: #ffbf00;
  margin-right: 10px;
}

.white {
  color: white;
}

.contato h2 {
  margin: 40px 0px 0px 60px;
}
.contato-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 10px;
  padding: 60px;
}

.contato-item:last-child {
  padding-bottom: 40px;
}

.contato-user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contato-item a {
  display: block;
  width: max-content;
  padding: 10px;
}

.contato-formulario {
  background-color: #fff;
  border-radius: 0px 4px 4px 0px;
}

.contato-formulario h2 {
  margin: 40px 0px 0px 60px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 8px;
}

.email {
  grid-column: 1/ -1;
}

.texto {
  grid-column: 1/ -1;
}

input {
  padding: 12px;
  /* border-radius: 4px; */
  outline: none;
  font: 400 1rem/1.2 "Roboto", sans-serif;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input::placeholder {
  font-size: 1.2rem;
}

input:focus {
  border: 2px solid #ffbb00;
}

select,
textarea {
  font: 400 1rem/1.2 "Roboto", sans-serif;
  padding: 12px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 4px;
}

select {
  font-size: 1.2rem;
  padding: 9px;
  color: rgba(0, 0, 0, 0.6);
}

textarea::placeholder {
  font-size: 1.2rem;
}

select:focus,
textarea:focus {
  border: 2px solid #ffbb00;
}

.enviar {
  grid-column: 1/ -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.enviar input {
  padding: 20px 15px;
  border: none;
  border-radius: 8px;
  width: 150px;
  background: linear-gradient(#ffbf00, #f2a50c);
  font: 600 1.25rem/1.2 "Poppins", sans-serif;
  cursor: pointer;
}

@media (max-width: 900px) {
  .teste {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .contato-item {
    padding: 40px;
  }
  .contact-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .contato-item {
    padding: 20px;
  }
  .contact-form {
    padding: 40px;
  }
}
