.produtos-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
  box-shadow: 1px 1px 5px #111;
  border-radius: 8px;
  margin-bottom: 80px;
}

.produtos-bg h1 {
  margin-left: 20px;
  text-shadow: 1px 2px 5px #ccc;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  justify-content: space-around;
}

.produtos-itens {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 165px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  box-shadow: 1px 1px 5px #c5c7c1;
  transition: 0.3s;
}

.produtos-itens img {
  margin: 0 auto;
  width: 64px;
}

.produtos-itens:hover {
  transform: scale(1.05);
  color: #ffde23;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 5px 6px #bbbbbb;
}
