.sacolas-bg {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.sacolas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sacolas::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background: #474444;
  top: -15px;
  left: 0px;
  border-radius: 4px;
}
.sacolas h1 {
  grid-column: 1/ -1;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #333;
}

.sacolas-itens {
  justify-self: center;
  padding: 16px;
  max-width: 250px;
  max-height: 300px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 2px 4px 5px #c1c1c1;
}

.sacolas-itens img {
  margin-bottom: 10px;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .sacolas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .sacolas {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
