.supermercado-bg {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 80px;
  justify-content: center;
}
.supermercado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.supermercado::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background: #474444;
  top: -15px;
  left: 0px;
  border-radius: 4px;
}
.supermercado h1 {
  grid-column: 1/ -1;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #333;
}

.supermercado-itens {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 2px 4px 5px #c1c1c1;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 315px;
  margin: 0 auto;
  box-sizing: border-box;
}

.supermercado-itens img {
  border-radius: 4px;
  max-height: 240px;
}

.control img {
  max-height: 240px;
}

@media (max-width: 1000px) {
  .supermercado {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .supermercado {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .supermercado-itens {
    width: 190px;
    height: 210px;
    padding: 10px;
    gap: 10px;
  }
  .supermercado-itens img {
    max-width: 140px;
    max-height: 160px;
  }
  .control img {
    height: 140px;
  }
  .supermercado-itens span {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .supermercado {
    gap: 5px;
  }
  .supermercado-itens {
    width: 140px;
  }
}
